@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500&family=Fira+Sans&display=swap");

:root {
  --dark: #2b2b42;
  --light: #adb5bd;
  --border: #dee2e6;
  --border-btn: #edf2f4;
  --white: #fff;
--google-blue: #4285f4;
--button-active-blue: #1669F2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Fira Sans', sans-serif; */
  /* font-family: 'Barlow', sans-serif; */
}

a {
  text-decoration: none;
  font-family: "Fira Sans", sans-serif;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.nav-brand {
  font-size: 1.5em;
  font-weight: bold;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
  margin-top: -63px;
}

.text-center {
  text-align: center;
}

.border-shadow {
  border: 1px solid var(--border-btn);
  box-shadow: 1px 3px 10px #e9ecef;
}

.text-dark {
  color: var(--dark);
}

.inline {
  display: inline-block;
}

.text-light {
  color: var(--light);
}

.text-gradient {
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.new-user {
  box-shadow: none;
  padding: 10px 15px;
  margin: 20px 0px;
}

#header nav {
  background-color: #06d6a0;
  padding: 1em 0;
  width: 100%;
}

#site-main {
  margin-top: 6em;
  font-family: "Barlow", sans-serif;
}

#site-main .container .box-nav > a {
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  box-shadow: rgb(167, 178, 188) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transition: ease-in-out 0.2s;
}

#site-main .container .box-nav > a:hover {
  /* border-color: #2e2e31; */
  border-radius: 7px;
  filter: drop-shadow(3px 4px 2px #dfdff2);
  transform: translateY(-7%);
}

#site-main .container form {
  margin: 2em 0;
}

table {
  border-spacing: 0px;
  width: 100%;
}

.table td,
.table th {
  padding: 0.75em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid var(--border);
}

.table td > a.btn {
  padding: 0.3em 1em;
  font-size: 1.1em;
  margin: 0 0.2em;
}

.table tr:hover {
  background-color: #cacaca;
}

.table tr:hover td > a {
  box-shadow: none;
  border-color: #2e2e31;
  border-radius: 5px;
  box-shadow: rgb(85, 85, 85) 3px 3px 6px 0px inset,
    rgba(15, 132, 89, 0.055) -3px -3px 6px 1px inset;
  transition: ease-in-out 0.2s;
}

.table .thead-dark th {
  color: #fff;
  background-color: var(--dark);
  border-color: #32383e;
}

@media only screen and (max-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid var(--border);
  }

  td {
    border: none;
    position: relative;
  }
}

/*  add user & update user template */
#site-main .container .box-nav .filter > a {
  text-decoration: none;
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  box-shadow: rgb(167, 178, 188) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  transition: ease-in-out 0.2s;
}

#site-main .container .box-nav  > a:hover{
  border-radius: 7px;
  filter: drop-shadow(4px 5px 2px #dfdff2);
  position: relative;
  transform: translateY(-8%);
  
}

.form-title {
  margin-top: 0em;
}

.form-title > h2 {
  padding: 0.5em 0;
}

.new_user {
  max-width: 786px;
  margin: auto;
}

#update_user .form-group,
#add_user .form-group {
  margin: 0.4em 0;
}

#update_user .form-group input[type="text"],
#add_user .form-group input[type="text"] {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em 0;
  border: 1px solid var(--border);
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  border-radius: 0.2em;
}

#update_user .form-group input[type="password"],
#add_user .form-group input[type="password"] {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em 0;
  /* margin-bottom: 25px; */
  border: 1px solid var(--border);
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  border-radius: 0.2em;
}

#update_user .form-group input[type="number"],
#add_user .form-group input[type="number"] {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em 0;
  border: 1px solid var(--border);
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  border-radius: 0.2em;
}

#update_user .form-group input[type="date"],
#add_user .form-group input[type="date"] {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em 0;
  border: 1px solid var(--border);
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  border-radius: 0.2em;
}

#update_user .form-group .radio,
#add_user .form-group .radio {
  margin: 1em 2em;
}

/* adding style to radio buttons */
.radio input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radio input[type="radio"] + .radio-label:before {
  content: "";
  background: var(--border-btn);
  border-radius: 100%;
  border: 1px solid var(--border);
  display: inline-block;
  width: 1em;
  height: 1em;
  position: relative;
  top: -0em;
  margin-right: 0.5em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
  background-color: #16db93;
  box-shadow: inset 0 0 0 4px #e9ecef;
}

.radio input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #16db93;
}

.radio input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #e9ecef;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

#update_user .form-group .btn,
#add_user .form-group .btn {
  width: 100%;
  padding: 0.9em 1em;
  background-color: #16db93;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 1em;
  cursor: pointer;
  border-radius: 0.2em;
  margin: 0.5em 0;
}

#update_user .form-group .btn:hover,
#add_user .form-group .btn:hover {
  background-color: var(--dark);
  color: var(--border);
}

.hidden{
  display: none;

}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Barlow";
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}

.google {
  display: flex;
  /* justify-content: center; */
  
}